<div class="chat-container">
  <div class="messages__wrapper">
    @for (group of messages() | groupedMessageByDate; track group.date) {
      <div class="messages__date-header">
        {{ group.date }}
      </div>
      @for (message of group.messages; track message.id) {
        <app-chat-workspace-message
          [message]="message"
        >
        </app-chat-workspace-message>
      }
    }
  </div>
  <app-message-input
    (created)="onSendMessage($event)"
  ></app-message-input>
</div>
